[core]
	editor = vim
	hooksPath = .githooks
[gpg]
	program = gpg2
[init]
	defaultBranch = main
[merge]
	tool = vimdiff
[pull]
	rebase = false
[alias]
	diff = dsf
	unstage = reset HEAD --
	last = log -1 HEAD
