[Unit]
Description=Remove (and restore on exit) the ath11k_pci firmware
Before=suspend-then-hibernate.target suspend.target
StopWhenUnneeded=yes

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=/usr/bin/bash -c '/usr/bin/lsmod | /usr/bin/grep ath11k_pci > /dev/null'
ExecStart=/usr/bin/modprobe -r ath11k_pci
ExecStop=/usr/bin/modprobe ath11k_pci

[Install]
WantedBy=suspend-then-hibernate.target suspend.target