[Unit]
Description=Load the remote configuration

[Service]
Type=oneshot
# trigger only once by the `path` file
RemainAfterExit=yes
ExecStartPre=/usr/bin/cat /etc/udev/hwdb.d/remote.hwdb
ExecStart=/usr/bin/systemd-hwdb update
ExecStartPost=/usr/bin/udevadm trigger