[Desktop Entry]
Version=1.0
Name=Kodi
GenericName=Media Center
Comment=Manage and view your media
Exec=sh -c "~/.config/scripts/kodi/jellyfin-helper.py"
Icon=kodi
Terminal=false
Type=Application
Categories=AudioVideo;Video;Player;TV;
Keywords=audio;video;media;center;tv;movies;series;songs;remote;