[Unit]
Description=rTorrent Service
After=drive-check.service
BindsTo=drive-check.service

[Service]
Type=simple
ExecStartPre=/usr/bin/rm -f %h/.config/rtorrent/session/rtorrent.lock
ExecStart=/usr/bin/rtorrent -n -o import=%h/.config/rtorrent/config
WorkingDirectory=%h/.config/rtorrent
Restart=on-failure
RestartSec=3
# for some reason only SIGKILL works while SIGINT and SIGTERM time out
KillSignal=SIGKILL

[Install]
WantedBy=default.target