[Unit]
Description=Notify if space usage is too high

[Service]
Type=simple
ExecStart=/usr/bin/bash \
    -c "used=$(/usr/bin/df / -h --sync --output=source,pcent \
    | /usr/bin/tail -1 \
    | /usr/bin/grep -o '[0-9]\+%' \
    | /usr/bin/sed 's/.$//'); \
    /home/user/.local/bin/gotify push -p 10 -t 'Disk usage alert' $used%"

[Install]
WantedBy=default.target